extends layout

block content
	section.hero.is-fullheight
		.hero-body
			.container.has-text-centered
				.slider-container
					each card in cards
						include card.pug

block scripts
	script(src="/javascript/garrettscript/dashboard.js")
