block content
	.card.is-6
		.tabs.is-fullwidth.is-boxed
			ul
				li.edit-light.is-active.is-tab
					a
						span.icon.is-small
							i.fa.fa-image
						span Edit
				li.highlight-light.is-tab
					a
						span.icon.is-small
							i.fa.fa-pencil
						span Highlight
							#highlighter.highlight-bar
								.circle.primary-color.highlighter-blue
								.circle.secondary-color.highlighter-red
								.circle.tertiary-color.highlighter-green
								.circle.quaternary-color.highlighter-yellow
		header.card-header
			p.card-header-title
				| Deck Name
			a.card-header-icon
				i.fa.fa-angle-down
		.dropdownlist
			.dropdown-content
				ul
					li Item
					li Item
					li Item
					li New Deck
		.card-content
			.content
				p#card-content| Card content.
		footer.card-footer
			a.card-footer-item
				icon.fa.fa-check
			a.card-footer-item
				icon.fa.fa-close
