extends layout

block content
	#nav-anchor
	.container.has-text-centered
		.anchor-nav
			a(href="#section1")
				nav.section1.nav-circle.primary-color
			a(href="#section2")
				nav.section2.nav-circle.secondary-color.unselected
		section#section1.section.content
			h1 Active
			hr.divider
			.columns
				each card, i in active
					//- if i % 3 == 0
					//- 	.columns
					//- 		include card-no-flip.pug
					//- else
					include card-no-flip.pug
		section#section2.section.content
			h1 Inactive
			hr.divider
			.columns
				each card, i in inactive
					//- if i % 3 === 0
					//- 	.columns
					include card-no-flip.pug

	//- .modal
	//- 	.modal-background
	//- 		.modal-container
	//- 			.modal-content.is-centered
	//- 				include card-new.pug
	//- 			button.modal-close