extends layout

block content
	.container.has-text-centered
		.anchor-nav
			a(href="#section1").nav-circle.primary-color
			a(href="#section2").nav-circle.secondary-color
			a(href="#section3").nav-circle.tertiary-color
		section#section1.section.content
			h1 Section 1
			hr.divider
			p
				h3 Content
		section#section2.section.content
			h1 Section 2
			hr.divider
			p
				h3 Content
		section#section3.section.content
			h1 Section 3
			hr.divider
			p
				h3 Content