.column
	.flip-container
		.flipper
			.back
				.card.is-6
					header.card-header
						p.card-header-title= card.deck_id
						a.card-header-icon
							i.fa.fa-angle-down
					.card-content
						.content= card.content_html
					footer.card-footer
						a.card-footer-item I remember!
						a.card-footer-item
							span(style="color: red; font-size: 2em;") ☢
							span(style="color: blue; font-size: 2em;") ☢
							span(style="color: green; font-size: 2em;") ☢
							span(style="color: orange; font-size: 2em;") ☢
						a.card-footer-item I forgot :(
			.front
				.card.is-6.card-dimensions
					.myCard
						img(src="/images/logo.png")
