.column
	.flip-container
		.flipper
			.back
				.card.is-6
					header.card-header
						p.card-header-title
							| Component
						a.card-header-icon
							i.fa.fa-angle-down
					.card-content
						.content
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. 
							a(href='/decks') @bulmaio
							| . 
							a(href='/decks') #css
							a(href='/decks') #responsive
							br
							small 11:09 PM - 1 Jan 2016
					footer.card-footer
						a.card-footer-item Save
						a.card-footer-item Edit
						a.card-footer-item Delete
			.front
				.card.is-6
					h1 memoscope