.column
	.card.is-6
		.card-content
			.content.manage_card= card.content_html
		footer.card-footer
			a.button.is-danger.is-outlined.footer-button(data-id= card.id style="width: 100%;") Remove
			//- a.card-footer-item.footer-button(data-id= card.id) Remove