.column
	.flip-container
		.flipper
			.back
				.card.is-6
					header.card-header
						p.card-header-title= card.deck_id
						a.card-header-icon
							i.fa.fa-angle-down
					.card-content
						.content= card.content_html
					footer.card-footer
						a.card-footer-item Save
						a.card-footer-item Edit
						a.card-footer-item Delete
			.front
				.card.is-6.card-dimensions
					.myCard
						img(src="/images/logo.png")