extends layout

block content
	//- width="1280" height="640" 
	canvas#visualization(style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Night_stars_berlin.png/1024px-Night_stars_berlin.png')")

block scripts
	script(src="/javascript/dashboard.js")
