extends layout

block content
	.section
		.container
			.columns
				.column.is-3
					nav.panel
						p.panel-heading Take A Look Through My Memoscope
						a.panel-block.button.is-info.is-fullwidth
							span.icon
								i.fa.fa-space-shuttle
							span Notifications
						a.panel-block.is-active(href="#")
							span.panel-icon
								i(class="fa fa-space-shuttle")
							p New Card
						a.panel-block.is-active(href="#")
							span.panel-icon
								i(class="fa fa-space-shuttle")
							p Manage Cards
						a.panel-block.is-active(href="#")
							span.panel-icon
								i(class="fa fa-space-shuttle")
							p Manage Decks
				.column
					.box.notification.is-info
						include all-cards-dashboard.pug


block scripts
	script(src="/javascript/garrettscript/dashboard.js")
	script(src="/javascript/garrettscript/card-new.js")
