extends layout

block content
	link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.css', type='text/css')
	link(rel='stylesheet', href='/stylesheets/style.css')

	link(rel="stylesheet" href="/stylesheets/solar_system/solar.css")
	link(rel='stylesheet', href='/stylesheets/style-g.css')
	link(rel='stylesheet', href='/stylesheets/style-j.css')
	link(rel='stylesheet', href='/stylesheets/style-s.css')
	.container.opening.hide-UI.view-2D.zoom-large.data-close.controls-close
		.columns.is-fullheight(style="margin:120px;")
			.column.is-3
				nav.panel.box
					p.panel-heading Take A Look Through My Memoscope
					a.panel-block.button.is-info.is-fullwidth#trigger_notification
						span.icon
							i.fa.fa-space-shuttle
						span Notifications
					a.panel-block.is-active(href="#")
						span.panel-icon
							i(class="fa fa-space-shuttle")
						p New Card
					a.panel-block.is-active(href="#")
						span.panel-icon
							i(class="fa fa-space-shuttle")
						p Manage Cards
					a.panel-block.is-active(href="#")
						span.panel-icon
							i(class="fa fa-space-shuttle")
						p Manage Decks
			.column
				#universe.scale-stretched
					#galaxy
					#solar-system.earth
						#mercury.orbit
							.pos
								.planet
									dl.infos
										dt Mercury
										dd
											span
						#venus.orbit
							.pos
								.planet
									dl.infos
										dt Venus
										dd
											span
						#earth.orbit
							.pos
								.orbit
									.pos
										.moon
								.planet
									dl.infos
										dt Earth
										dd
											span
						#mars.orbit
							.pos
								.planet
									dl.infos
										dt Mars
										dd
											span
						#jupiter.orbit
							.pos
								.planet
									dl.infos
										dt Jupiter
										dd
											span
						#saturn.orbit
							.pos
								.planet
									.ring
									dl.infos
										dt Saturn
										dd
											span
						#uranus.orbit
							.pos
								.planet
									dl.infos
										dt Uranus
										dd
											span
						#neptune.orbit
							.pos
								.planet
									dl.infos
										dt Neptune
										dd
											span
						#sun
							dl.infos
								dt Sun
								dd
									span

block scripts
	script(src="/javascript/garrettscript/card-new.js")
	script(src="/javascript/solar_system/solar_system.js")
	script(src="/javascript/garrettscript/dashboard.js")
