extends layout

block content
	p= user_name
	p= decks
	p= cards
	//- section.hero.is-fullheight
	//- 	.hero-body
	//- 		.container.has-text-centered
	//- 			.slider-container
	//- 				each card in cards
	//- 					include card.pug

//- block scripts
//- 	script(src="/javascript/garrettscript/dashboard.js")
