extends layout-dashboard

block content
	nav.main-nav
		ul
			li
				a(href='#notifications') Notifications
			li
				a(href='#new-card') New Card
			li
				a(href='#manage-cards') Manage Cards
	main.visualization
		canvas#visualization
	section#notifications.modal
		.modal-co ntainer
			h1 Notifications
			ol
				li Something
				li Something
				li Something
	section#new-card.modal
		.modal-container
			h1 New Card
			form(action='/cards', method='post')
				p
					label Content
					textarea(name='content', rows='10', cols='100')
				p
					button Create Card
	section#manage-cards.modal
	.overlay


block scripts
	script(src="/javascript/dashboard.js")