extends layout-dashboard

block content
	.overlay
	nav.main-nav
		ul
			li.menu-item
				a(href="#notifications") NOTIFICATIONS
			li.menu-item
				a(href="#new-card") NEW CARD
			li.menu-item
				a(href="#manage-cards") MANAGE CARDS

	section#notifications.modal
		.modal-container
			h1 Notifications
			ol
				li Probably a notification
				li Probably a notification
				li Probably a notification

	section#new-card.modal
		.modal-container
			form
				p
					label Content
					textarea(name="content" rows="10" cols="100")
				p
					button Create Card

	section#new-card-placeholder.modal
		include cards-new-modified.pug

	section#manage-cards.modal
		.modal-container
			h1 Here's where my cards get managed.

	main.visualization
		//- canvas#visualization




block scripts
	script(src="/javascript/dashboard.js")
