extends layout-dashboard

block content
	#container
		canvas#visualization(style="background: url('http://www.suprime.it/wp-content/uploads/2016/05/WDF_717817_00000.jpg');")
		#overlay
			.sidenav
				a.closebtn#closeSideBar memoscope&nbsp☰ 
				a#sidebarNotif(href='#') Notifications
				a#sidebarAdd(href='#') New Card
				a#sidebarManage(href='#') Manage Cards
			span#openSideBar(style='font-size:2em;cursor:pointer') ☰ MENU
			br
			br
			a.button.is-info
				span.notification_count 0
				span &nbsp | Notifications
			.box.notification_display

block scripts
	script(src="/javascript/dashboard.js")
