extends layout-dashboard

block content
	.overlay
	nav.main-nav
		ul
			li.menu-item
				a.notificationButton(href="#notifications")
					span.tag.is-danger.notification_count 0
					span &nbsp NOTIFICATIONS
			li.menu-item
				a(href="#new-card") NEW CARD
			li.menu-item
				a(href="#manage-cards") MANAGE CARDS

	section#notifications.modal
		.modal-container
			h1 Notifications
			.notification_display
				p No notifications!


	section#new-card.modal
		.modal-container
			.header
				ul.new-card-bar
					li.edit-card-link
						a(href="#new-card-edit") Edit
					li.highlight-card-link
						a(href="#new-card-highlight") Highlight
					li.finish-card-link
						a(href="#new-card-finish") Finish

			#new-card-edit.new-card-tab.active-tab
				h1 Click "Highlight" when you've finished entering your text.
				form
						textarea#newCard.edit-mode(name="content" rows="10" cols="100")
				div.highlight-card-link(class="button is-success is-pulled-right") Now let's highlight it

			#new-card-highlight.new-card-tab
				div
					p#cardHighlight Don't forget to write some text.
				div(class="modal-buttons" style="position: absolute; bottom: 0;")
				div(style="position: relative")
					div(style="bottom: 0; left: 0;")
						svg(class="highlight-bar" height="30" width="106")
							circle(class="highlighter-red" cx="12" cy="12" r="12")
							circle(class="highlighter-blue" cx="40" cy="12" r="12")
							circle(class="highlighter-green" cx="68" cy="12" r="12")
							circle(class="highlighter-yellow" cx="94" cy="12" r="12")
						div(class="button is-success is-pulled-right") Finishing Touches

			#new-card-finish.new-card-tab
				.tile.is-ancestor
					.tile.is-parent
						.tile.is-child.content
							p#cardFinish Don't forget to write some text.
					.tile.is-parent.is-vertical
						.tile.is-child.is-12
							p.control.box.has-addons.has-addons-centered(style='display: block;')
								label(style="display: block") Select a deck
								span.select(style="width: 45%")
									select#deckDropdown(style="width: 100%")
										option (No Deck)
										option Poem Quotes
										option Another Deck
								input.input#add-deck-name(type='text', placeholder='Or make a new one...' style="width: 45%")
								a.button.is-primary#add-new-deck(style="width: 10%")
									| Add
						.tile.is-child.box.activate-card
							h1 Would you like to activate the card now?
								span.tag.large.is-success.is-pulled-right Yes please!
						.tile.is-child.box#submit-area
							a.button.is-success.is-large#submit-button
								span.icon
									i.fa.fa-check
								span Save

	section#manage-cards.modal
		.modal-container
			include cards-modal.pug

	main.visualization
		canvas#visualization




block scripts
	script(src="/javascript/dashboard.js")
