extends layout
	
block content
	section.hero.is-fullheight
		.hero-body
			.container.has-text-centered

				.slider-container
					include card.pug
					include card.pug
					include card.pug
					include card.pug
					include card.pug
					include card.pug
