extends layout

block content
	canvas#visualization(style="background: url('http://www.suprime.it/wp-content/uploads/2016/05/WDF_717817_00000.jpg');filter:opacity(30%)")

block scripts
	script(src="/javascript/dashboard.js")
