extends layout

block content
	.tile.is-ancestor.is-vertical
		.tile.is-parent.center.is-6
			.tile.is-child.box
				label.label Create Deck
					p.control
						input.user_id(type='hidden', value= user_id)
						input.input#deck-name-field(type='text', placeholder='Enter Deck Name')
					p.control
						button.button.is-primary#deck-create Submit
