nav.nav
	.nav-left
		a.nav-item(href='#')
			img(src="http://i.imgur.com/QKm8xnW.png") 
	span.nav-toggle
		span
		span
		span
	.nav-right.nav-menu
		a.nav-item(href='/dashboard')
			| Dashboard
		a.nav-item(href='/cards')
			| Cards
		a.nav-item(href='/decks')
			| Decks
		a.nav-item(href='#')
			| User