nav.nav
	.nav-left
		a.nav-item(href='#')
			img(src="http://i.imgur.com/0NrB8cT.jpg") 
	span.nav-toggle
		span
		span
		span
	.nav-right.nav-menu
		a.nav-item(href='#')
			| Dashboard
		a.nav-item(href='#')
			| Decks
		a.nav-item(href='#')
			| User