extends layout

block content
	section.hero.is-fullheight
		.hero-body
			.container.has-text-centered
				h1.title
					| congratulations
				h2.subtitle
					| this is your moment of zen
		//- 
			.card.is-6.notify
				header.card-header
					p.card-header-title
						| Component
					a.card-header-icon
						i.fa.fa-angle-down
				.card-content
					.content
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. 
						a(href='/decks') @bulmaio
						| . 
						a(href='/decks') #css
						a(href='/decks') #responsive
						br
						small 11:09 PM - 1 Jan 2016
				footer.card-footer
					a.card-footer-item Save
					a.card-footer-item Edit
					a.card-footer-item Delete
			.container
				#card2.card.is-6
					header.card-header
						p.card-header-title
							| Component
						a.card-header-icon
							i.fa.fa-angle-down
					.card-content
						.content
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. 
							a(href='#') @bulmaio
							| . 
							a(href='#') #css
							a(href='#') #responsive
							br
							small 11:09 PM - 1 Jan 2016
					footer.card-footer
						a.card-footer-item Save
						a.card-footer-item Edit
						a.card-footer-item Delete