extends layout

block content
	.tile.is-ancestor.is-vertical
		.tile.is-parent.center
			.tile.is-child.box
				.button.is-outlined.is-active.is-large
					h3  Card Directory 
		.tile.is-parent.center
			.tile.is-child
				.columns
					.column
						h5  Card    
					.column
						.card
							.card-content
								.content
									br
									h5
										| O Romeo, Romeo! wherefore art thou Romeo? ~William Shakespeare
			.tile.is-child
				.columns
					.column
						h5  Deck  
					.column
						.button.is-outlined.is-primary.is-large
							h3  Poem Quotes
			.tile.is-child
				.columns  
					.column
						h5  Delete
					.column
						a.button.is-danger.is-outlined
							span.icon
								i.fa.fa-times
							span Delete 
							extends layout
//- 
	block content
		.tile.is-ancestor.is-vertical
			.tile.is-parent.center
				.tile.is-child.box
					.button.is-outlined.is-primary.is-large
						h3  Poem Quotes 
			.tile.is-parent.center
				.tile.is-child.box
					p.control
						a.button.is-dark
							| Previous
				.tile.is-child.box
					.card
						.card-content
							.content
								br
								h5 “ O Romeo, Romeo! wherefore art thou Romeo? ~William Shakespeare”
				.tile.is-child.box
					p.control
						a.button.is-dark
							| Next
			.tile.is-parent.center
				.tile.is-child.box
					p.control
						a.button.is-primary.is-warning.is-large
							| Edit
				.tile.is-child.box
					p.control
						a.button.is-primary.is-danger.is-large
							| Delete


