:root {
  --bg-dark: #000000;
  --highlighter-red: rgba(231,95,92, 1);
  --highlighter-blue: rgba(36,123,160, 1);
  --highlighter-yellow: rgba(255,224,102,1);
  --highlighter-green: rgba(112,193,179,1);

}

.aquarium {
 background-color: var(--bg-dark);
}

/*.footer{
  bottom: 0;
  position: fixed;
  width: 100%;
}*/

.bubble {
  border-style: solid;
  border-width: 3px;
  border-color: var(--fg-light);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  float: left;
  position: absolute;
}

.bottom {
  background-color: red;
  opacity: 0.5;
  width: 100%;
  height: 50px;
}

.g-aquarium-overlay {
  background-color: rgba(0,0,0,0.8);
  border-radius: 2%;
  position: fixed;
  width: 33%;
  height: auto;
  text-align: center;
  z-index: 1;
}

.g-aquarium-login {
  margin: 5% 33%;
  padding: 10px;
  z-index: 1;
}

.g-aquarium-label {
  margin: 22% 33%;
}

.g-home-tagline {
  color: white !important;
  font-family: Trebuchet !important;
  font-weight: 200 !important;
  margin: 10px;

}

.g-home-memoscope {
  color: white !important;
  font-family: Trebuchet !important;
  font-weight: 400 !important;
}

.card-expand {
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  min-height: 240px;
}

.editable {
  /* No changes-- Just a selector for JS */
}

.edit-hide {
  visibility: hidden;
}

.highlighter-red {
  background-color: var(--highlighter-red);
  color: black;
  fill: var(--highlighter-red);
  padding: 5px 0px;
}

.highlighter-red-hidden {
  color: var(--highlighter-red);
}

.highlighter-blue {
  background-color: var(--highlighter-blue);
  color: white;
  fill: var(--highlighter-blue);
  padding: 5px 0px;
}
.highlighter-blue-hidden {
  color: var(--highlighter-blue);
}

.highlighter-green {
  background-color: var(--highlighter-green);
  color: black;
  fill: var(--highlighter-green);
  padding: 5px 0px;
}
.highlighter-green-hidden {
  color: var(--highlighter-green);
}


.highlighter-yellow {
  background-color: var(--highlighter-yellow);
  color: black;
  fill: var(--highlighter-yellow);
  padding: 5px 0px;
}
.highlighter-yellow-hidden {
  color: var(--highlighter-yellow);
}

.red-mark {
  background-color: var(--highlighter-red)
}

.blue-mark {
  background-color: var(--highlighter-blue)
}

.green-mark {
  background-color: var(--highlighter-green)
}

.yellow-mark {
  background-color: var(--highlighter-yellow)
}

/* Dashboard Styles */

#cardHighlight {
    position: relative;
    top: 30%;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 40px;
}

#cardFinish {
    position: relative;
    top: 10%;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 20px;
}

#newCard {

}

#notificationContent {
/*    position: absolute;
    top: 30%;*/
    font-size: 1.5em;
    /*font-size: 3em;*/
    font-weight: 300;
}

#notifications {

}

#manage-cards {

}

#new-card {
  transition: opacity 2s ease-in-out;
}

#new-card.submitted {
  opacity: 0;
}

#new-card-edit.active-tab {
  display: block;
}

#new-card-highlight.active-tab {
  display: block;
}

#new-card-finish.active-tab {
  display: block;
}

#submit-area {
  transition: opacity 2s ease-in-out;
}

#submit-area.submitted {
  opacity: 0;
}

#submit-button {
  margin-left: 10%;
  width: 80%;
  transition: scale 1s ease-in-out;
  visibility: visible;
}

#submit-button.submitted {
  margin-left: 10%;
  opacity: 1
  transform: scale(2,2)
  visibility: visible;
  width: 80%;
}

.modal-container.submitted {

}

body {
  font-family: sans-serif;
}

.cardContent {
    position: absolute;
    top: 30%;
    font-size: 3em;
    font-weight: 300;
}

.create-card {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  right: 0;
}
/*.highlight-bar {
  left: 0;
  margin-left: 10px;
  position: absolute;
}*/

.main-nav {
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: fixed;
  top: 80px;
  z-index: 3;
}

.main-nav a {
  border: 1px solid white;
  display: block;
  padding: 15px;
  color: rgba(255,255,255,0.9);
  font-size: 1.5em;

}

.main-nav li {
  margin: 40px;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.modal {
  bottom: auto;
  display: hidden;
  max-height: 100%;
  overflow: hidden;
  left: 260px;
  padding: 20px;
  position: fixed;
  right: 70px;
  top: 100px;
  z-index: 4;
}

.modal-container {
  font-size: 2em;
  background: rgba(255,255,255,.9);
  min-height: 265px;
  max-height: 75vh;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  position: relative;
  transition: opacity 2s ease-in-out;
  }

/* Added to the body tag when a modal is open */
.modal-open .main-nav a {
  opacity: 0.5;
}

.modal-open .main-nav a.active-nav-link {
  background: rgba(255,255,255,0.9);
  color: black;
  opacity: 1;
}

.modal-open .main-nav a.inactive-nav-link {
  filter: blur(0.5px);
}

.modal-buttons {
  /*position: absolute;*/
/*  bottom: 0;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 10px;
  right: 0;
  width: 100%;*/
}

.modal-buttons .forgot {
  margin-right: 5px;
}

.modal-buttons .remembered {
  margin-left: 5px;
}

.modal-buttons .hide {
  visibility: hidden;
}

.new-card-bar {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0 0 20px 0;
}

.new-card-bar:after {
  border-bottom: 1px solid #aaa;
  bottom: 0
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.new-card-bar li {
  background: #ddd;
  color: #333;
  display: inline-block;
  margin: 0 10px 20px 10px;
  padding: 5px 10px;
}

.new-card-bar li.selected {
  background: #FFF;
  color: #000;
}

.new-card-bar li a {
  color: inherit;
}

.new-card-bar li a.active {
}

.new-card-edit {}

.new-card-highlight {}

.new-card-tab {
  display: none;
  height: 100%;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,.75);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.remembered {
  bottom: 0;
  position: sticky;
}

.shown {
  display: block;
  opacity: 1;
}

.submitted {
  opacity: 0;
}

textarea {
  border: none;
  border-style: none;
}
.visualization {
  background: url(http://www.goodwp.com/images/201105/goodwp.com_17772.jpg) 50% 50%;
  /*background: url(http://pic.putaojiayuan.com/uploadfile/tuku/SeCaiBeiJing/12190521074117.jpg) 50% 50%;*/
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.column{
  display: inline-block;
}
.card-footer{
  top: 79%;
  background-color: white;
      position: absolute;
    width: 100%;
}
.card{
  overflow: scroll;
  height: 200px;
}

.card-content{
  overflow: scroll;
  /*max-height: 150px;*/
}
.modal-wrapper{
  /* position: relative; */
  position: absolute;
  top: 100%;
}
.highlighter-wrapper{
  width: 100%;
  background-color: white;
  position: fixed; 
  bottom: 0; 
  left: 0;
 }
 #notificationContent{
   padding-bottom: 30px;
 }
.card-render-content{
  border: solid 1px black;  
 }