/*.center {
	align: center;
	margin: auto;
	align-items: center;
}

.tile.is-child.box {
		background-color: transparent;
		border: none;
		box-shadow: none;
}

table {
		width:100%;
}
table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
}
th, td {
		padding: 5px;
		text-align: left;
}
*/
body {
  font-family: sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
textarea {
  width: 100%;
}
.main-nav {
  left: 0;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 3;
}
.main-nav a {
  border: 1px solid white;
  display: block;
  padding: 15px;
}
.modal-open .main-nav a {
  opacity: .5;
}
.modal-open .main-nav a.active-nav-link {
  background: white;
  color: black;
  opacity: 1;
}
.main-nav li {
  margin: 20px;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal {
  bottom: 0;
  display: none;
  left: 200px;
  opacity: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
}
.modal-container {
  background: rgba(255,255,255,.9);
  padding: 20px;
}
.overlay {
  background: rgba(0,0,0,.75);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
.shown {
  display: block;
  opacity: 1;
}
.visualization {
  background: url(http://pic.putaojiayuan.com/uploadfile/tuku/SeCaiBeiJing/12190521074117.jpg) 50% 50%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
