/*Layout Containers*/

html,body{
	margin:0;
	padding:0;
	background-color: white;
	height:100%; 
}

#header{
	/*padding-top: 50px;*/
  background: white;
}

#content{
	padding-bottom: 20px;
}

#footer{
	position: absolute;
	width:100%;
	bottom:0;
	background:#ddd;
}
/*----------------------------------*/
/*Navbar and Footer*/

.nav{
	width: 100%;
	border-bottom: 2px solid grey;
	z-index: 3;
	width: 100%;
}

.nav-submenu{
	background-color: white;
	z-index: 3;
	border: grey;
	border-style: solid;
	border-width: 0 3px 3px 3px;
	position: absolute;
	top: 40px;
}

.footer{
	background-color: white;
	border-top: 2px solid grey;
	padding: 20px 40px;
	bottom: 0;
	width:100%;
	position: relative;
}
/*--------------------------------*/
/*Section Navigation*/

.anchor-nav{
	top: 42.5%;
	z-index: 2;
	right: 0px;
	text-align: center;
	margin: auto;
	align-items: center;
	align: center;
	position: fixed;
}

.anchor-nav > .nav-circle{
	display: block;
}

#section3{
	padding-bottom: 50px;
}

.nav-circle{
	width: 20px;
	height: 20px;
	border: 2px solid #69707a;
	border-radius: 100px;
	margin: 10px;
}

.nav-circle:hover{
	border: 3px solid purple;
}

.unselected{
	background-color: white !important;
}
/*------------------------------------*/
/*Slick*/

.slick-center .flip-container .flipper{
	transform: rotateY(180deg);
}

.slick-center .card-header-title{
	color: orange;
}

/*--------------------------------------*/
/*Flip*/

.flip-container, .front, .back{
	width: 320px;
	height: 200px;
}

.flip-container{
	perspective: 1000px;
}

.card-dimensions{
	height: 200px;
}

.flipper{
	transition: 0.4s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back{
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front{
	z-index: 2;
	transform: rotateY(0deg);
}

.back{
	transform: rotateY(180deg);
}
/*---------------------------------------------*/
/*ProgressBar*/
/*When resizing, only resize the container, and keep it square.*/
.progress-container{
	padding-top: 50px;
	position: absolute;
	width: 300px;
	height:300px;
	top: 0;
	left: 0;
  z-index: 2;
  vertical-align: middle;	
}

.progress {
  margin-top: 12.5%;
  margin-left: 12.5%;
  position: absolute;
  width: 75%;
  height: 75%;
}

.progress > svg {
  height: 100%;
  display: block;
}

.progTitle{
	z-index: 7;
	color: white;
	position: absolute;
	text-align: center;
	line-height: 700%;
	width: 100%
}

/*----------------------------------------------*/
/*Assorted*/
.tile a{
	color: white;
}

.hero .container{
	padding: 20px;
}

.container.is-fluid{
	padding-bottom: 20px;
}

.notify{
	position: absolute;
	z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#card2{
	position: relative;
	left: +30px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.container.has-text-centered.fullwidth{
	position: fixed;
	margin-left: auto;
  margin-right: auto;
	z-index: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.tile.is-child:hover{
	box-shadow: inset 0 0 0 3px steelblue;
}

.hero.is-fullheight .hero-body{
	padding-top: -48px;
}

.modal-content{
	margin-top: 15%;
	vertical-align: middle;
	/*z-index: 300;*/
}

#container{
	position:relative;
	height:auto !important;
	min-height:100%;
}
.divider{
	margin-left: 10%; 
	margin-right: 10%;
}

.primary-color{
	background-color: steelblue;
}

.secondary-color{
	background-color: tomato;
}

.tertiary-color{
	background-color: seagreen;
}
.quaternary-color{
	background-color: yellow;
}

.background-div{
	position: absolute;
}

.hidden{
	display: none;
}
/*--------------------------------------*/
/*Deck Dropdown*/
.tabs{
  width: 100%;
}

.card.is-6{
	text-align: left;
	z-index: 4;
 	box-shadow: 10px 10px 5px #888888;
}

.card.is-6.view{
  border-top: 8px solid steelblue;
  border-right: 8px solid tomato;
  border-bottom: 8px solid teal;
  border-left: 8px solid yellow;
}
.card.is-6.edit-mode{
	
/*	height: 180px;
	width: 320px;*/
}

.tabs:not(:last-child){
  margin-bottom: 0;
}

.card-header{
  box-shadow: none;
}

.card-header:hover, .card-header:focus{
  background-color: lightgrey;
}

.dropdownlist{
  position: absolute;
  display: inline-block;
  width: 100%;
}

.dropdown-content{
  display: none;
  text-align: left;
  position: relative;
  background-color: white;
  width: 100%;
  z-index: 400;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 5;
	background-color: rgba(0,0,0, 0.3);
}
.dropdown-content ul li{
  border-bottom: 1px solid grey;
}

.dropdown-content ul li:hover{
  background-color: teal;
  color: white;
}

[contenteditable="true"] {
    background-color: lightgrey;
}

.circle{
  display: inline-block;
  border-radius:100px;
  margin: 2px;
  border: 1px solid teal;
  height: 15px;
  width: 15px;
}
.column{
	margin: 20px;
}

.highlighter{
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  /*display:none;*/
}

.show {display:block;}
/*--------------------------------------*/