/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

.nav {
	border-bottom: 2px solid grey;
}
.footer{
	background-color: white;
	border-top: 2px solid grey;
}

.hero .container{
	padding: 20px;
}

.solar-system {
	z-index: 1;
	background-image: url("http://i.imgur.com/Ptob9un.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.tile:hover {
	border: 2px solid red;
}

.footer{
	background-color: white;
	border-top: 3px solid grey;
}

.container.is-fluid{
	padding-bottom: 20px;
}

.notify{
	position: absolute;
	z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#card2{
	position: relative;
	left: +30px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
}