:root {
  --bg-dark: #000000;
  --highlighter-red: rgba(255,68,68, 0.8);
  --highlighter-blue: rgba(68,68,255, 0.8);
  --highlighter-yellow: rgba(255,255,68,0.8);
  --highlighter-green: rgba(68,255,68,0.8);

}

.aquarium {
 background-color: var(--bg-dark);
}

/*.footer{
  bottom: 0;
  position: fixed;
  width: 100%;
}*/

.bubble {
  border-style: solid;
  border-width: 3px;
  border-color: var(--fg-light);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  float: left;
  position: absolute;
}

.bottom {
  background-color: red;
  opacity: 0.5;
  width: 100%;
  height: 50px;
}

.g-aquarium-overlay {
  background-color: rgba(0,0,0,0.8);
  border-radius: 2%;
  position: fixed;
  width: 33%;
  height: auto;
  text-align: center;
  z-index: 1;
}

.g-aquarium-login {
  margin: 5% 33%;
  padding: 10px;
  z-index: 1;
}

.g-aquarium-label {
  margin: 22% 33%;
}

.g-home-tagline {
  color: white !important;
  font-family: Trebuchet !important;
  font-weight: 200 !important;
  margin: 10px;

}

.g-home-memoscope {
  color: white !important;
  font-family: Trebuchet !important;
  font-weight: 400 !important;
}

.card-expand {
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  min-height: 240px;
}

.editable {
  /* No changes-- Just a selector for JS */
}

.edit-hide {
  visibility: hidden;
}

.highlighter-red {
  fill: var(--highlighter-red);
  background-color: var(--highlighter-red);
}

.highlighter-blue {
  fill: var(--highlighter-blue);
  background-color: var(--highlighter-blue);
}

.highlighter-green {
  fill: var(--highlighter-green);
  background-color: var(--highlighter-green);
}

.highlighter-yellow {
  fill: var(--highlighter-yellow);
  background-color: var(--highlighter-yellow);
}

.red-mark {
  background-color: var(--highlighter-red)
}

.blue-mark {
  background-color: var(--highlighter-blue)
}

.green-mark {
  background-color: var(--highlighter-green)
}

.yellow-mark {
  background-color: var(--highlighter-yellow)
}

/* Dashboard */

.dash-stretch {
  height: 300px;
}

.dash-dropdown {
  top: 0;
}
